<!-- Left page -->
<button tabindex="0" id="left-page-btn" class="page-switch-overlay-icon" type="button"

{{#pageProgressionDirectionIsRTL}}
title="{{strings.i18n_page_next}} [{{keyboard.PagePrevious}}] / [{{keyboard.PagePreviousAlt}}]"

aria-label="{{strings.i18n_page_next}} [{{keyboard.PagePrevious}}] / [{{keyboard.PagePreviousAlt}}]"

accesskey="{{keyboard.accesskeys.PagePreviousAlt}}"
{{/pageProgressionDirectionIsRTL}}

{{^pageProgressionDirectionIsRTL}}
title="{{strings.i18n_page_previous}} [{{keyboard.PagePrevious}}] / [{{keyboard.PagePreviousAlt}}]"

aria-label="{{strings.i18n_page_previous}} [{{keyboard.PagePrevious}}] / [{{keyboard.PagePreviousAlt}}]"

accesskey="{{keyboard.accesskeys.PagePreviousAlt}}"
{{/pageProgressionDirectionIsRTL}}

>
<!-- img aria-hidden="true" src="images/pagination1.svg" -->
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</button>
  
<!-- Right page -->
<button tabindex="0" id="right-page-btn" class="page-switch-overlay-icon" type="button"

{{#pageProgressionDirectionIsRTL}}
title="{{strings.i18n_page_previous}} [{{keyboard.PageNext}}] / [{{keyboard.PageNextAlt}}]"

aria-label="{{strings.i18n_page_previous}} [{{keyboard.PageNext}}] / [{{keyboard.PageNextAlt}}]"

accesskey="{{keyboard.accesskeys.PageNextAlt}}"
{{/pageProgressionDirectionIsRTL}}

{{^pageProgressionDirectionIsRTL}}
title="{{strings.i18n_page_next}} [{{keyboard.PageNext}}] / [{{keyboard.PageNextAlt}}]"

aria-label="{{strings.i18n_page_next}} [{{keyboard.PageNext}}] / [{{keyboard.PageNextAlt}}]"

accesskey="{{keyboard.accesskeys.PageNextAlt}}"
{{/pageProgressionDirectionIsRTL}}

>
<!-- img aria-hidden="true" src="images/pagination1.svg" -->
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</button>
