/* 白天模式 */
.white {
  color: #142614;
  background-color: #F6F6F6;
}

/* 护眼模式 */
/* QD: #D3E3D3 , DB: #ccffcc  */
.eyecare {
  color: #142614;
  background-color: #D3E3D3;
}

/* 棕色模式 */
.brown {
  color: #663300;
  background-color: #f5deb3;
}


/* 夜晚模式 */
.grey,
.grey * {
  color: #C3C3C3 !important;
  background-color: #1A1A1A;
}

/* 省电（深色）模式 */
.dark,
.dark * {
  color: #4B4B4B !important;
  background-color: #000;
}


.grey .comment-icon,
.dark .comment-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1170 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path fill="%234B4B4B" d="M841.134446 1024a36.790489 36.790489 0 0 1-17.590681-4.46167L490.052242 837.487579h-110.627465C173.74912 837.487579 0 656.095108 0 441.45954V373.035081A376.681947 376.681947 0 0 1 379.424777 0.01024h411.424457A376.681947 376.681947 0 0 1 1170.274012 373.035081v68.278174a369.367735 369.367735 0 0 1-292.568503 363.955218V987.428937a36.571063 36.571063 0 0 1-36.571063 36.571063zM379.424777 72.823226A303.539822 303.539822 0 0 0 73.142126 373.035081v68.278174c0 172.139993 143.13914 323.141911 306.282651 323.141912h119.989657a36.900202 36.900202 0 0 1 17.590682 4.46167L804.563383 926.099265v-150.233927a36.571063 36.571063 0 0 1 30.28084-35.839641C994.184344 712.26826 1097.131886 595.058004 1097.131886 441.45954V373.035081a303.539822 303.539822 0 0 0-306.282652-300.358139h-411.424457z"></path></svg>');
}

.grey .comment-count:hover,
.dark .comment-count:hover {
  color: #FFF !important;
  text-decoration: none;
  cursor: pointer;
}

.comment-icon {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1170 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path fill="%23999999" d="M841.134446 1024a36.790489 36.790489 0 0 1-17.590681-4.46167L490.052242 837.487579h-110.627465C173.74912 837.487579 0 656.095108 0 441.45954V373.035081A376.681947 376.681947 0 0 1 379.424777 0.01024h411.424457A376.681947 376.681947 0 0 1 1170.274012 373.035081v68.278174a369.367735 369.367735 0 0 1-292.568503 363.955218V987.428937a36.571063 36.571063 0 0 1-36.571063 36.571063zM379.424777 72.823226A303.539822 303.539822 0 0 0 73.142126 373.035081v68.278174c0 172.139993 143.13914 323.141911 306.282651 323.141912h119.989657a36.900202 36.900202 0 0 1 17.590682 4.46167L804.563383 926.099265v-150.233927a36.571063 36.571063 0 0 1 30.28084-35.839641C994.184344 712.26826 1097.131886 595.058004 1097.131886 441.45954V373.035081a303.539822 303.539822 0 0 0-306.282652-300.358139h-411.424457z"></path></svg>') no-repeat center center;
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  font-size: 16px;
  text-indent: 0em;
  margin-top: 0;
  margin-left: 2px;
}

.comment-count {
  display: inline-block;
  padding: 0;
  color: #999999;
  width: 16px;
  text-align: center;
  text-indent: 0em;
  font-size: 60%;
  position: relative;
  top: -4px;
  background-color: inherit;
}

.comment-count:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.comment-icon2 {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="%23dbdbdb" d="M322.09 904.448c-3.705 0-7.436-0.792-10.935-2.402a26.158 26.158 0 0 1-15.228-23.76V766.76c0-13.847-11.268-25.115-25.14-25.115h-128.03c-42.72 0-77.467-34.747-77.467-77.44V197.005c0-42.707 34.747-77.454 77.466-77.454h738.512c42.694 0 77.441 34.747 77.441 77.454v467.2c0 42.694-34.747 77.441-77.44 77.441H530.982a25.15 25.15 0 0 0-16.402 6.08L339.105 898.138a26.007 26.007 0 0 1-17.015 6.311zM142.756 171.877c-13.873 0-25.14 11.267-25.14 25.128v467.2c0 13.848 11.267 25.116 25.14 25.116h128.03c42.718 0 77.466 34.747 77.466 77.44v54.625l132.321-113.415c14.078-12.034 31.963-18.65 50.41-18.65h350.284c13.848 0 25.115-11.268 25.115-25.115V197.005c0-13.86-11.267-25.128-25.115-25.128h-738.51z"/></svg>') no-repeat center center;
}
