{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="center-block">
            <h1 class="book-edit" data-meta="title">一个安静阅读的地方</h1>
        </div>

        <p>
        这个站点，搭建出来就为了能够方便地看书的。

        <br/>
        因此收集了许多网络上的图书资源，做成了一个在线的书架管理。
        目前还只是简单的上传、检索、下载、推送，但应该足够了。

        <br/>
        只希望能够安静地阅读。

        <br/>
        有问题，请邮件联系 <img src="{{static_url("img/mail.gif")}}"/>

        <br/>
        </p>

    </div>
    <div class="col-md-12">
<!-- UYAN NEW COMMENT BEGIN -->
<div id="uyan_newcmt_unit"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1852657"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN NEW COMMENT END -->
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-12">
</div>
{% endblock %}

