<div class="col-xs-4 col-sm-3 col-md-2 library-item">
    <div class='info-wrap'>
        <!-- <div class='caption book-info'>
            <h4 class='title'>{{ epub.title }}</h4>
            <div class='author'>{{ epub.author}}{{^epub.author}}No Author Listed{{/epub.author}}</div>
        </div> -->

            <button type="button" style="background: none; border: none; padding: 0; margin: 0;" class="read" data-book="{{epub.rootUrl}}"  aria-label="({{count.n}}) {{epub.title}}" title="({{count.n}}) {{epub.title}}"  tabindex="{{count.tabindex}}">
            
                {{#epub.coverHref}}
        <div aria-hidden="true" class="no-cover has-cover" style="background-image:url({{ epub.coverHref }});"><p>&nbsp;</p></div>
                {{/epub.coverHref}}
            
                
        {{^epub.coverHref}}
        <div aria-hidden="true" class="no-cover" style="background-image: url('{{noCoverBackground}}')"><p>{{epub.title}}</p></div>
        {{/epub.coverHref}}
    </button>
    </div>
            
    <!-- <div class="caption buttons">
        <a href="#" class="btn btn-default read" data-book="{{epub.packageUrl}}" role="button">{{strings.i18n_read}}</a>
        <a href="#details-modal" data-book="{{epub.packageUrl}}" aria-pressed="true" class="btn btn-default details" data-toggle="modal" role="button">{{strings.i18n_details}}</a>
    </div> -->
    <div class='caption book-info'>
        <h4 class='title'>{{ epub.title }}</h4>
        <div class='author'>{{ epub.author}}{{^epub.author}}No Author Listed{{/epub.author}}</div>

        <div class="buttons">

         <button aria-label="{{strings.i18n_details}} ({{count.n}}) {{epub.title}}" title="{{strings.i18n_details}} ({{count.n}}) {{epub.title}}" tabindex="{{count.tabindex}}" data-toggle="modal" data-target="#details-modal" data-package="{{epub.rootUrl}}/{{epub.packagePath}}" data-root="{{epub.rootUrl}}" data-root-dir="{{epub.rootDir}}" {{^epub.coverHref}} data-no-cover="{{noCoverBackground}}" {{/epub.coverHref}} class="btn btn-info details">{{strings.i18n_details}}</button></div>
    </div>
</div>