
#font-size-input, #margin-size-input{
  width: 100%;
  margin-top: 7px;
}

#keyboard-button {
  text-align: center;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  color: black;
  border: 1px solid grey;
  
  padding: 3px;
  padding-bottom: 4px;

  background-color: white;
    float: right;
}
#keyboard-list {
    list-style-type: none;
    padding-right: 2em;
    margin-bottom: 0;
}
#keyboard-list > li {
    position: relative;

    border-top: 1px dashed silver;
    margin-bottom: 0.6em;
}
#keyboard-list > li > label {
    text-align: left;
}
#keyboard-list > li > label > span {
    font-weight: normal;
    font-size: 90%;
}
#keyboard-list > li > input {
    text-align: right;
    position: absolute;
    right: 2em;
    margin-top: 0.5em;
}

#invalid_keyboard_shortcut_ALERT
{
    color:transparent;
    width:1px;
    height:1px;
    overflow: hidden;
    left: 0px;
    right: 0px;
    position:absolute;
}

#duplicate_keyboard_shortcut,
#invalid_keyboard_shortcut
{
    font-weight: bold;
    position: absolute;
    right: 2.3em;
    top: 2.3em;
}

#duplicate_keyboard_shortcut,
#invalid_keyboard_shortcut
{
    display: none;
}

#keyboard-list > li.invalidShortcut > #invalid_keyboard_shortcut
{
    display: block;
}

#keyboard-list > li:not(.invalidShortcut).duplicateShortcut > #duplicate_keyboard_shortcut
{
    display: block;
}

#keyboard-list > li.invalidShortcut > input {
    border: 2px solid red;
}
#keyboard-list > li:not(.invalidShortcut).duplicateShortcut > input {
    border: 2px solid magenta;
}

#keyboard-list {
    border: 2px solid transparent;
}
#keyboard-list.atLeastOneInvalidOrDuplicateShortcut {
    border: 2px solid red;
}

#keyboard-list > li > button.resetKey {
    text-align: center;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
    border: 0;
  
    padding: 3px;
    padding-bottom: 0px;
    padding-top: 0px;

    margin-top: 0.5em;
    
    background-color: white;
    color: blue;
    
    position: absolute;
    right: 0;
}
#keyboard-list > li#resetAllKeysTOP
{
    border:0;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
#keyboard-list > li#resetAllKeysBOTTOM
{
    border:0;
    padding: 0;
    margin: 0;
}
#keyboard-list > li.resetAllKeys > button.resetKey
{
    position: static;
    text-align: right;
    width: 100%;
}

.theme-option{
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  padding: 3px;
  margin-bottom: 10px;
}
.author-theme {
  background-color: white;
  color: black;
  font-weight: bold;
  font-style: italic;
  border: 1px dashed #333333;
}

.night-theme {
  background-color: #141414;
  color: white;
}
.default-theme {
  background-color: white;
  color: black;
}
.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27;
}
.ballard-theme {
  background-color: #576b96;
  color: #DDD;
}
.vancouver-theme {
  background-color: #DDD;
  color: #576b96;
}

.preview-text{
  border: 1px solid #777;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  height: 75px;
  overflow: hidden;
  text-align: left;
}

#scroll-default-radio,
#scroll-doc-radio,
#scroll-continuous-radio
{
    margin-right:0.2em;
}
