{% extends "base.html" %}
{% block content %}

</div>

<div class="col-md-12 hidden-xs" style="height: 50px"></div>

<div class="col-sm-4 col-md-4 hidden-xs" style="border-right: #eee 1px solid;">
    <img class="pull-right" src="{{static_url("img/books.jpg")}}" style="width:80%; margin: 100px 30px 100px 0;" >
</div>
<div class="col-sm-8 col-md-8">
    <h4 class='text-center' style="margin: 70px 0 40px 0" >{{ _("Please Sign in by Social Account:") }}</h4>
    <h4 class="hidden-sm hidden-xs" style="margin: 70px 0 40px 0" >&nbsp;</h4>
    <div class="text-center" style="width:100%" >
        <a class="btn" href="/login/qq">
            <img style="width:168px;height:32px" src="{{static_url("img/login_qq_32.png")}}" />
        </a>
        <a class="btn" href="/login/douban-oauth2">
            <img style="width:168px;height:32px" src="{{static_url("img/login_douban_32.png")}}" />
        </a>
        <a class="btn" href="/login/weibo">
            <img style="width:168px;height:32px" src="{{static_url("img/login_weibo_32.png")}}" />
        </a>
    </div>
</div>
<div class="col-md-12 hidden-xs" style="height: 50px"></div>

<div>
{% endblock %}

