<div class="col-md-12">
    <span class="legend">{{ gettext("Recent Updates") }}</span>
    <div class="alert alert-warning text-center" role="alert">
        2016年02月更新：增加用户主页，修复阅读器BUG<br/>
        2015年11月更新：导入kindleren.com近8G书籍<br/>
        2015年10月更新：支持在线阅读功能
    </div>

    <span class="legend">{{ gettext("Category") }}</span>
    <div class="list-group">
        <a href="/book"     class="list-group-item {% if category == "books"      %}active{% endif %}"><span class="badge">{{db.count()}}</span> {{ gettext("All Books") }}</a>
        <a href="/pub"      class="list-group-item {% if category == "publishers" %}active{% endif %}"><span class="badge">{{db.all_publishers()|length}}</span> {{ gettext("Publisher") }}</a>
        <a href="/author"   class="list-group-item {% if category == "authors"    %}active{% endif %}"><span class="badge">{{db.all_authors()|length}}</span> {{ gettext("Authors") }}</a>
        <a href="/tag"      class="list-group-item {% if category == "tags"       %}active{% endif %}"><span class="badge">{{db.all_tags()|length}}</span> {{ gettext("Tags") }}</a>
        <a href="/recent"   class="list-group-item {% if category == "recents"    %}active{% endif %}">{{ gettext("Recents") }}</a>
        <a href="/rating"   class="list-group-item {% if category == "ratings"    %}active{% endif %}">{{ gettext("Ratings") }}</a>
    </div>

    <span class="legend">{{ gettext("Download") }}</span>
    <div class="list-group">
        <a href="https://github.com/talebook/calibre-webserver" class="list-group-item">{{ gettext("Source Code") }}</a>
        <a href="https://github.com/talebook/talebook-library" class="list-group-item">{{ gettext("Books Library") }}</a>
    </div>

    <span class="legend">{{ gettext("Help") }}</span>
    <div class="list-group">
        <a href="#" class="list-group-item"><span class="pull-right">1.4.13</span> {{ gettext("System Version") }}</a>
        <a href="#" class="list-group-item"><span class="pull-right">{{db.last_modified()|day}}</span> {{ gettext("Last Update") }}</a>
    </div>

    <span class="legend">{{ gettext("Upload Book") }}</span>
    <div class="list-group">
        <a class="btn btn-primary btn-block" href="/book/add"><span class="glyphicon glyphicon-cloud-upload"></span> {{ gettext("Upload Book") }}</a>
        {% if request.admin_user %}
        <a class="btn btn-danger btn-block" href="/admin">管理员入口</a>
        {% endif %}
    </div>


</div>
