<div class="col-md-12">
<!--
    <span class="legend">最新功能</span>
    <div class="alert alert-warning text-center" role="alert">
        2017年10月更新：增加书籍热度榜单<br/>
        2016年02月更新：增加用户主页，修复阅读器BUG<br/>
        2015年11月更新：导入kindleren.com近8G书籍<br/>
        2015年10月更新：支持在线阅读功能
    </div>
-->

    <span class="legend">分类浏览</span>
    <div class="list-group">
        <a href="/book"     class="list-group-item {% if category == "books"      %}active{% endif %}"><span class="badge">{{db.count()}}</span> 所有书籍</a>
        <a href="/pub"      class="list-group-item {% if category == "publishers" %}active{% endif %}"><span class="badge">{{db.all_publishers()|length}}</span> 出版</a>
        <a href="/author"   class="list-group-item {% if category == "authors"    %}active{% endif %}"><span class="badge">{{db.all_authors()|length}}</span> 作者</a>
        <a href="/tag"      class="list-group-item {% if category == "tags"       %}active{% endif %}"><span class="badge">{{db.all_tags()|length}}</span> 标签</a>
        <a href="/recent"   class="list-group-item {% if category == "recents"    %}active{% endif %}">最新更新</a>
        <a href="/rating"   class="list-group-item {% if category == "ratings"    %}active{% endif %}">全部评分</a>
        <a href="/hot"      class="list-group-item {% if category == "hot"        %}active{% endif %}">热度榜单</a>
    </div>

    <span class="legend">下载</span>
    <div class="list-group">
        <a href="https://github.com/talebook/my-calibre-webserver" class="list-group-item">站点源码</a>
        <a href="https://github.com/talebook/talebook-library" class="list-group-item">书库打包</a>
        <a href="http://diumx.com/" target="_blank" class="list-group-item">友链：芒果读书</a>
        <a href="https://bookset.me" target="_blank" class="list-group-item">友链：bookset</a>
    </div>

    <span class="legend">系统信息</span>
    <div class="list-group">
        <a href="/blog" target="_blank" class="list-group-item">博客</a>
        <a href="#_" class="list-group-item"><span class="pull-right">1.4.13</span> 系统版本</a>
        <a href="#_" class="list-group-item"><span class="pull-right">{{db.last_modified()|day}}</span> 最后更新</a>
        <a href="#_" class="list-group-item"><span class="pull-right">{{count_all_users}}</span> 全部用户数</a>
        <a href="#_" class="list-group-item"><span class="pull-right">{{count_hot_users}}</span> 活跃用户数</a>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <img style="width:100%" class="center-block" src="{{static_url("img/wechat.jpg")}}" atl="wechat: love-talebook" />
            <p class='text-center'>微信公众号</p>
        </div>
        <div class="col-xs-6">
            <img style="width:100%" class="center-block" src="{{static_url("img/qq.png")}}" atl="wechat: love-talebook" />
            <p class='text-center'>QQ读书群</p>
        </div>
    </div>


    <span class="legend">添加书籍</span>
    <div class="list-group">
        <a class="btn btn-primary btn-block" href="/book/add"><span class="glyphicon glyphicon-cloud-upload"></span> 添加书籍</a>
        {% if request.admin_user %}
        <a class="btn btn-danger btn-block" href="/admin">管理员入口</a>
        {% endif %}
    </div>


</div>
